# Appearance
font=Inter V 14
width=400
height=160
border-size=2
padding=5
margin=8
anchor=top-center

# Colors Dark
# base00 - dark background
background-color=#1d1f21

# base05 - soft foreground
text-color=#c5c8c6

# base0D - muted blue
border-color=#5f819d

# base0A - soft yellow
progress-color=#f0c674

# Colors Light (optional alt scheme)
# background-color=#c5c8c6
# text-color=#1d1f21
# border-color=#5f819d
# progress-color=#f0c674

# Timing
default-timeout=8000
ignore-timeout=false

# High urgency config
[urgency=high]
# base08 - subtle red
border-color=#cc6666
