snippet cl "console.log"
console.log(${1});$0
endsnippet

snippet imf "import default"
import ${1} from "${2}";
endsnippet

snippet imfc "import named"
import { ${1} } from "${2}";
endsnippet

snippet ed "export default"
export default ${1};
endsnippet

snippet af "arrow function"
const ${1} = (${2}) => {
	${3}
};
endsnippet
